<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="">{{appName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ng-container>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/shopping/">{{'root.header.shopping'|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-lists/">{{'root.header.shopping-lists'|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/permanent/">{{'root.header.permanent'|translate}}</a>
          </li>
        </ul>
      </div>
    </ng-container>
  </div>
</nav>