<div *ngIf="isLoaded">
  <app-grid-search-add [dataGridConfig]="dataGridConfig" [items]="items" [action]="itemAction"
    [badgeItemName]="'containers.settings.subcategories.categories'|translate" [filterOn]="true"
    [searchConfig]="updateSearchConfig()" [filters]="filters" (updFilters)="updateFilters($event)"
    [addOn]="true" [addConfig]="addConfig" (addAction)="addItem($event)">
  </app-grid-search-add>
  <modal-confirm #confirmModal [object]="toRemove" [question]="'containers.lists.confirm'|translate"
    [displayButton]="false" (outputAction)="removeAction($event)"></modal-confirm>
</div>