@use 'const' as c;

.body {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  max-height: -webkit-fill-available;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.content {
  flex: auto;
}

.footer {
  padding: 8px 0;
}

.modal-backdrop {
  display: none;
  z-index: 1040 !important;
}

.modal-content {
  margin: 2px auto;
}

.visually-hidden {
  display: none;
}

.navbar .nav-link {
  padding: 10px;
}

.btn {
  width: 38px;
  height: 38px;
  padding: 0;

  >i {
    font-size: medium;
  }
}

.pl {
  &-20 {
    padding-left: 20px;
  }
}

.mr {
  &-3 {
    margin-right: 3px !important;
  }
}

.mb {
  &-12 {
    margin-bottom: 12px;
  }
}

.form {
  padding: 10px;

  &-item {
    height: auto;
    padding: 6px 8px;
  }
}

.table {
  --bs-table-accent-bg: c.$color-transparent;
}

.container {
  padding: 5px;
}

.page-item.disabled .page-link {
  border-color: c.$color-black;
}

.action-btn {
  color: c.$color-white;
  text-shadow: none;
}

.inline {
  display: inline;
}

.collapsing {
  -webkit-transition: none;
  transition: height .35s;
}

.display-2 {
  font-size: 36px;
}

.bold {
  font-weight: 700;
}

.form-check-input:checked {
  background-color: c.$color-decorator;
}

.page-item.active .page-link {
  border-color: c.$color-decorator;
}

.badge-secondary {
  background-color: c.$color-decorator;
}