* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: auto;
}

.footer {
  padding: 8px 0;
}

.modal-backdrop {
  display: none;
  z-index: 1040 !important;
}

.modal-content {
  margin: 2px auto;
}

.visually-hidden {
  display: none;
}

.navbar .nav-link {
  padding: 10px;
}

.btn {
  width: 38px;
  height: 38px;
  padding: 0;

  >i {
    font-size: medium;
  }
}

.mr {
  &-3 {
    margin-right: 3px !important;
  }
}

.form {
  padding: 10px;

  &-item {
    height: auto;
    padding: 6px 8px;
  }
}